.App {
  text-align: center;
  align-content: center;
}

img.image.is-64x64 {
  display: block;
  margin: 0 auto;
}

.navbarBuffer {
  height: 50px;
}

.loadingImage {
  animation: loadingImageSpin infinite 3s linear;
  height: 80px;
}

@keyframes loadingImageSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
